[Desktop Entry]
Version=1.0
Type=Application
Exec=xfce4-about
Icon=org.xfce.about
StartupNotify=false
Terminal=false
Categories=xpple;
OnlyShowIn=XFCE;
Name=About This Pearintosh
Name[am]=ስለ 
Name[ar]=حول إكسفس
Name[ast]=Tocante Pearintosh
Name[be]=Пра Pearintosh
Name[bg]=Относно Pearintosh
Name[ca]=Quant a Pearintosh
Name[cs]=O prostředí Pearintosh
Name[cy]=Ynghylch Pearintosh
Name[da]=Om Pearintosh
Name[de]=Über Pearintosh
Name[el]=Περί Pearintosh
Name[en_AU]=About This Pearintosh
Name[en_GB]=About This Pearintosh
Name[es]=Acerca de Pearintosh
Name[et]=Teave Pearintosh'i kohta
Name[eu]=Pearintosh-ri buruz
Name[fi]=Tietoja Pearintosh:stä
Name[fr]=À propos du Pearintosh
Name[gl]=Sobre Pearintosh
Name[he]=אודות Pearintosh
Name[hr]=O Pearintosh-u
Name[hu]=Az Pearintosh névjegye
Name[hy]=Pearintosh֊ի մասին
Name[hy_AM]=Pearintosh֊ի մասին
Name[hye]=Pearintosh֊ի մասին
Name[id]=Tentang Pearintosh
Name[ie]=Pri Pearintosh
Name[is]=Um Pearintosh
Name[it]=Informazioni su Pearintosh
Name[ja]=Pearintosh について
Name[ka]=Pearintosh-ის შესახებ
Name[kk]=Pearintosh туралы
Name[ko]=Pearintosh 정보
Name[lt]=Apie Pearintosh
Name[ms]=Perihal Pearintosh
Name[nb]=Om Pearintosh
Name[nl]=Over Pearintosh
Name[nn]=Om Pearintosh
Name[oc]=A prepaus de Pearintosh
Name[pl]=O środowisku Pearintosh
Name[pt]=Sobre o Pearintosh
Name[pt_BR]=Sobre o Pearintosh
Name[ro]=Despre Pearintosh
Name[ru]=Об Pearintosh
Name[sk]=O pracovnom prostredí Pearintosh
Name[sl]=O Pearintosh
Name[sq]=Mbi Pearintosh-në
Name[sr]=О Иксфце-у
Name[sv]=Om Pearintosh
Name[te]=Pearintosh గురించి
Name[th]=เกี่ยวกับ Pearintosh
Name[tr]=Pearintosh Hakkında
Name[ug]=مەزكۇر Pearintosh ھەققىدە
Name[uk]=Про Pearintosh
Name[vi]=Thông tin về Pearintosh
Name[zh_CN]=关于 Pearintosh
Name[zh_HK]=關於 Pearintosh
Name[zh_TW]=關於 Pearintosh
Comment=Information about the Xfce Desktop Environment
Comment[ar]=معلمومات حول بيئة سطح المكتب إكسفس
Comment[ast]=Información tocante al entornu d'escritoriu Xfce
Comment[be]=Звесткі пра працоўнае асяроддзе Xfce
Comment[bg]=Сведения за работната среда Xfce
Comment[ca]=Informació quant a l'entorn d'escriptori Xfce
Comment[cs]=Informace o pracovním prostředí Xfce
Comment[cy]=Gwybodaeth am yr Amgylchedd Penfwrdd Xfce
Comment[da]=Information om Xfce-skrivebordsmiljøet
Comment[de]=Informationen über die Xfce-Arbeitsumgebung
Comment[el]=Πληροφορίες σχετικά με το περιβάλλον εργασίας Xfce
Comment[en_AU]=Information about the Xfce Desktop Environment
Comment[en_GB]=Information about the Xfce Desktop Environment
Comment[es]=Información sobre el entorno de escritorio Xfce
Comment[et]=Teave Xfce töölauakeskkonna kohta
Comment[eu]=Xfce mahaigain inguruneari buruzko argibideak
Comment[fi]=Tietoja Xfce-työpöytäympäristöstä
Comment[fr]=Informations à propos de l’environnement de bureau Xfce
Comment[gl]=Información sobre o contorno de escritorio Xfce
Comment[he]=מידע אודות סביבת שולחן עבודה Xfce
Comment[hr]=Informacije o Xfce radnom okruženju
Comment[hu]=Információk az Xfce asztali környezetről
Comment[hy]=Տեղեկույթ Xfce աշխատասեղանի միջավայրի մասին
Comment[hy_AM]=Տեղեկոյթ Xfce աշխատասեղանի միջավայրի մասին
Comment[hye]=Տեղեկոյթ Xfce աշխատասեղանի միջավայրի մասին
Comment[id]=Informasi tentang Lingkungan Desktop Xfce
Comment[ie]=Information pri li ambientie Xfce
Comment[is]=Upplýsingar um Xfce skjáborðsumhverfið
Comment[it]=Informazioni sull'ambiente grafico Xfce
Comment[ja]=Xfce デスクトップ環境に関する情報です
Comment[kk]=Xfce жұмыс үстел ортасы туралы ақпарат
Comment[ko]=Xfce 데스크톱 환경 정보
Comment[lt]=Informacija apie Xfce darbalaukio aplinką
Comment[ms]=Maklumat tentang Persekitaran Desktop Xfce
Comment[nb]=Informasjon om Xfce-skrivebordsmiljøet
Comment[nl]=Inlichtingen over de Xfce-werkomgeving
Comment[nn]=Opplysingar om skrivebordsmiljøet Xfce
Comment[oc]=Informacion a prepaus de l'environament de burèu Xfce
Comment[pl]=Wyświetla informacje o środowisku graficznym Xfce
Comment[pt]=Informações do ambiente de trabalho Xfce
Comment[pt_BR]=Informação sobre o Ambiente de área de trabalho Xfce
Comment[ro]=Detalii despre mediul desktop Xfce
Comment[ru]=Сведения об окружении Xfce
Comment[sk]=Informácie o pracovnom prostredí Xfce
Comment[sl]=Podatki o Xfce namiznem okolju
Comment[sq]=Të dhëna të përgjithshme mbi Mjedisin Desktop Xfce
Comment[sr]=Подаци о радном окружењу Иксфце-а
Comment[sv]=Information om skrivbordsmiljön Xfce
Comment[te]=Xfce డెస్క్‍టాప్ పర్యావరణం గురించిన సమాచారం
Comment[th]=ข้อมูลเกี่ยวกับเดสก์ท็อป Xfce
Comment[tr]=Xfce Masaüstü Ortamı hakkında bilgi
Comment[ug]=مەزكۇر Xfce ئۈستەلئۈستى مۇھىتى ھەققىدە ئۇچۇر
Comment[uk]=Інформація про середовище робочого столу Xfce
Comment[vi]=Thông tin về môi trường màn hình Xfce
Comment[zh_CN]=有关 Xfce 桌面环境的信息
Comment[zh_HK]=有關 Xfce 桌面環境的資訊
Comment[zh_TW]=有關 Xfce 桌面環境的資訊
